.formContainer {
  /* Tailwind-like styles */
  background: rgba(77, 63, 120, 0.2); /* Equivalent to bg-fuchsia-200 */
  -webkit-backdrop-filter: blur(4px); /* For Safari support */
  backdrop-filter: blur(4px); /* backdrop-filter */
  opacity: 0.7; /* bg-opacity-10 */
  box-shadow: inset 4px 4px 8px rgb(77, 63, 120, 0.2), inset 4px 4px 16px rgba(255, 255, 255, 0.3), inset -4px -4px 12px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
}

.textInput {
  transition: background-color 0.3s ease;
  border: 0.2px solid rgb(77, 63, 120, 0.365);
  box-shadow: inset 6px 6px 12px rgb(77, 63, 120, 0.384), inset -4px -4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}
